When asked to refactor code, retain my style of the code, do not rename any variables,
change how loops are formed, unless asked.

Do not reorder any of my lines of code, unless asked, especially if it's assembly code.
Do not remove any of my comments, unless asked.

Use the proper rustdoc format, putting elements in brackets like [`Color565`] and not `Color565`.